* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555;
}

.carousel {
  overflow: hidden;
  max-width: 600px;
  position: relative;
  border-radius: 10px;
  height: auto;
  box-shadow: 0 0 60px rgb(20, 20, 20);
}

.carousel__item {
  display: none;
}

.carousel .carousel__item img {
  width: 100%;
  height: auto;
}

.carousel__item--vis {
  display: block;
}

.carousel .carousel__action {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.carousel .carousel__action button {
  border-radius: 50px;
  border: 0;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

#carousel__action--prev {
  margin-left: 20px;
}
#carousel__action--next {
  margin-right: 20px;
}
